@font-face {
  font-family: 'IvyMode';
  src: url("../assests/font/IvyMode-Light.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../assests/font/IvyMode-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../assests/font/IvyMode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../assests/font/IvyMode-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../assests/font/IvyMode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../assests/font/IvyMode-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../assests/font/IvyMode-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../assests/font/IvyMode-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../assests/font/IvyMode-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../assests/font/IvyMode-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
